//////////////////////////////////////////////////////
// Base
//////////////////////////////////////////////////////	

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

//////////////////////////////////////////////////////
// VARS
//////////////////////////////////////////////////////


//=  MIN AND MAX MEDIA QUERIES MIXIN
////////////////////////////////////////

@mixin minq($width:'demension'){
	@media (min-width:$width){
		@content;
	}
}

@mixin maxq($width:'demension'){
	@media (max-width:$width){
		@content;
	}
}
