@import "base";

/*= Main
==============================================*/
body{
	// background: black;
	// color:white;
	font-family: Helvetica, Arial, sans-serif;
}

#container{
	width:40%;
	margin: 0 auto;
	// border:1px solid;
	padding:1em;
}

#weather{
		text-align:center;

	h2{
		font-size:5em;
		font-weight:100;
	}
	ul{
		list-style:none;
		li{
			display:inline-block;
			border-radius:6px;
			background:#eee;
			margin:0 2em;
			padding:1em;
		}
	}
}

#greetings{
	text-align:center;
	margin:6em 0;
	font-weight:100;
}
		